In [4]:
import sqlite3

In [5]:
conexion=sqlite3.connect('escuela.sqlite')
cursor=conexion.cursor()
cursor.execute('''CREATE TABLE ESTUDIANTES(ID INT PRIMARY KEY NOT NULL,NOMBRE TEXT NOT NULL,EDAD INT NOT NULL,DIRECCION CHAR(50),PROMEDIO FLOAT);''')


conexion.close()

In [7]:
conexion=sqlite3.connect('escuela.sqlite')
cursor=conexion.cursor()
cursor.execute('INSERT INTO ESTUDIANTES (ID,NOMBRE,EDAD,DIRECCION,PROMEDIO) VALUES (1,"Miguel",33,"Av Universidad",9.0)')
conexion.commit()

conexion.close()

In [8]:
conexion=sqlite3.connect('escuela.sqlite')
cursor=conexion.cursor()
cursor.execute('INSERT INTO ESTUDIANTES (ID,NOMBRE,EDAD,DIRECCION,PROMEDIO) VALUES (2,"Antony",24,"Av Universidad",10.0)')
cursor.execute('INSERT INTO ESTUDIANTES (ID,NOMBRE,EDAD,DIRECCION,PROMEDIO) VALUES (3,"Beto",33,"Av Universidad",5.0)')
conexion.commit()

conexion.close()

In [9]:
conexion=sqlite3.connect('escuela.sqlite')
cursor=conexion.cursor()
for row in cursor.execute('SELECT ID,NOMBRE,PROMEDIO FROM ESTUDIANTES'):
    print('ID= ',row[0])
    print('NOMBRE= ',row[1])
    print('PROMEDIO= ',row[2],'\n')
conexion.commit()

conexion.close()

ID=  1
NOMBRE=  Miguel
PROMEDIO=  9.0

ID=  2
NOMBRE=  Antony
PROMEDIO=  10.0

ID=  3
NOMBRE=  Beto
PROMEDIO=  5.0

In [11]:
conexion=sqlite3.connect('escuela.sqlite')
cursor=conexion.cursor()

conexion.execute('UPDATE ESTUDIANTES set PROMEDIO=10.0 where ID=1')
conexion.commit()

for row in cursor.execute('SELECT ID,NOMBRE,PROMEDIO FROM ESTUDIANTES'):
    print('ID= ',row[0])
    print('NOMBRE= ',row[1])
    print('PROMEDIO= ',row[2],'\n')
conexion.commit()

conexion.close()

ID=  1
NOMBRE=  Miguel
PROMEDIO=  10.0

ID=  2
NOMBRE=  Antony
PROMEDIO=  10.0

ID=  3
NOMBRE=  Beto
PROMEDIO=  5.0

In [12]:
conexion=sqlite3.connect('escuela.sqlite')
cursor=conexion.cursor()

conexion.execute('DELETE from ESTUDIANTES where ID=2')
conexion.commit()

for row in cursor.execute('SELECT ID,NOMBRE,PROMEDIO FROM ESTUDIANTES'):
    print('ID= ',row[0])
    print('NOMBRE= ',row[1])
    print('PROMEDIO= ',row[2],'\n')
conexion.commit()

conexion.close()

ID=  1
NOMBRE=  Miguel
PROMEDIO=  10.0

ID=  3
NOMBRE=  Beto
PROMEDIO=  5.0